@import "vars"


/*==========  Desktop First  ==========*/

// 1200px
+media-breakpoint-down(lg)
    section.our-core-values .row .core-values-wrapper img:nth-child(1)
        display: none
    section.our-core-values .row .core-values-wrapper img:nth-child(2)
        display: flex
    html, body
        overflow-x: hidden
    header
        height: 600px
    header .row:last-child
        margin-top: 50px
    .header-bcg-pattern
        width: 2000px
        top: -200px
    .your-partner-pattern-wrapper
        width: 3000px
        top: 150px
        left: calc((100vw + 800px)/ -2)
    body header .row .right-side .header-illustration-wrapper
        width: 100%
    .left-side .main-text h1
        font-size: 48px
        line-height: 54px
    .outsouce-needs .row .col-md-6:first-child img
        height: auto
    .outsouce-needs .row .col-md-6:last-child h1
        font-size: 48px
    .outsouce-needs .row .col-md-6:last-child p
        margin-top: 40px
    .eight p
        word-wrap: break-word
        width: 92px
    .we-offer-services .col-md-3 .service-card
        padding-left: 20px
        height: 210px
    .we-offer-services .row
        height: 240px
    .one
        background-position-x: -78px
    section.your-partner .info .img-wrapper
        width: 450px
    /////ABOUT////////
    .about-header .header-content
        margin-top: 0
        padding-top: 100px
        height: 700px
        h1
            font-size: 66px
        p
            margin-top: 300px
    .about-header
        height: 700px
    section.our-core-values .row h1
        font-size: 50px
    section.our-core-values .row .core-values-wrapper
        left: calc(((100vw - 992px)/ -2) - 60px)
    section.our-vison-mission
        height: 700px
        max-height: 100%
    //// SERVICES ///////I
    .services-header .services-header-pattern-wrapper
        left: calc((170vw - 911px)/ -2)
        top: -200px
    .services-header-content .s-header-img-wrapper
        left: -123px
        top: 0
    .services-header-content .col-lg-7 p
        margin-top: 40px
        font-size: 14px
    header.contacts h1
        font-size: 50px
    header.contacts p.contact-page-info
        margin-top: 30px
        margin-bottom: 40px
    header.contacts .row:nth-child(2) .contact-form
        margin: 30px 0
    header.contacts .row:nth-child(2) .contact-info
        flex-direction: row
        justify-content: space-between
    .phones-social
        margin-right: 10vw
        display: flex
        flex-direction: column
        align-items: flex-start
        .telephone
            margin-top: 0!important
    .outsouce-needs .needs-img-wrapper
        left: -10vw
    .we-make-pattern-wrapper
        left: -860px
    .services-header
        height: 700px
    .services-header-content
        height: 600px
    section.our-workflow
        height: 800px
    .pain-points
        height: 700px
// 992px
+media-breakpoint-down(md)
    .we-offer-services .col-md-3 .service-card
        height: 160px
    .we-offer-services .row
        height: 100%
    html, body
        overflow-x: hidden
    .left-side .main-text h1
        font-size: 40px
        line-height: 50px
    .left-side .main-text p
        font-size: 12px
        width: 360px
    .right-side .header-illustration-wrapper
        margin-top: 60px
        margin-left: 10px
        width: 390px
    section.your-partner h1
        font-size: 40px
    section.your-partner .info p
        margin-top: 50px
        font-size: 12px
        line-height: 20px
    .pain-points h1
        font-size: 36px
    .we-offer-services .col-md-3 .service-card .icon-wrapper
        width: 40px
    .we-offer-services .col-md-3 .service-card .service-title
        font-size: 16px
    .we-offer-services .col-md-3 .service-card
        padding-left: 20px
        height: 190px
        padding-right: 20px
        &:hover
            padding-right: 20px
            a
                align-self: center
    body .we-offer-services .row .col-md-6 h2, .we-offer-services .row .col-md-6 h2 span
        font-size: 35px!important
    body .we-offer-services .row .col-md-6 h2
        margin-top: 78px
    .we-offer-services .read-more-services a
        font-size: 16px
    .we-offer-services .col-md-3 .service-card:hover p
        font-size: 10px
    .outsouce-needs .row .col-md-6:last-child h1
        font-size: 30px
    .outsouce-needs .row .col-md-6:last-child p
        font-size: 12px
        width: 100%
    .outsouce-needs .row .col-md-6:first-child img
        margin-top: 60px
    section.we-make .row .we-make-cards
        flex-direction: column
        position: relative
    section.we-make .row
        display: flex
        flex-direction: column
    section.we-make .col-lg-4 .arrows
        display: none
    section.we-make .col-lg-4 h1
        width: auto
        font-size: 35px
        text-align: center
    section.we-make .row .we-make-cards
        margin-left: 0
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        justify-content: space-around
        margin-top: 50px
    section.we-make
        max-height: 100%
    section.we-make .row .we-make-cards .wm-card
        border: 0px!important
        box-shadow: 0px 0px 0px transparent!important
        width: 200px
        height: 275px
        margin: 0
        position: relative
        overflow: hidden
        margin-bottom: 20px
        background-image: url('../img/_src/wm-pattern-mob.svg')
        background-size: 1500px
        background-position-x: -1800px
        &:first-child
            background-position-x: -1800px
            background-position-y: -682px
        &:nth-child(2)
            background-position-x: -2022px
            background-position-y: -682px
        &:nth-child(3)
            background-position-x: -2244px
            background-position-y: -682px
        &:nth-child(4)
            background-position-x: -1800px
            background-position-y: -1011px
        &:nth-child(5)
            background-position-x: -2022px
            background-position-y: -1011px
        &:nth-child(6)
            background-position-x: -2244px
            background-position-y: -1011px
        &:nth-child(7)
            background-position-x: -1800px
            background-position-y: -1294px
        &:nth-child(8)
            background-position-x: -2022px
            background-position-y: -1294px
        &:nth-child(9)
            background-position-x: -2244px
            background-position-y: -1294px
    section.we-make .row .we-make-cards .wm-card .icon-wrapper
        width: 60px
    section.we-make .row .we-make-cards .wm-card h4
        font-size: 20px
    .outsouce-needs
        max-height: 500px
    .we-make-pattern-wrapper
        display: none

    /// ABOUT ///

    .about-header .header-content h1
        font-size: 70px
        margin-top: 0px
    .about-header .header-content p
        font-size: 21px
        letter-spacing: 0.05em
        margin-top: 0
        line-height: 35px
    section.our-vison-mission .row .col-lg-3 .our-mission-wrapper img, section.our-vison-mission .row .col-lg-3 .our-vision-wrapper img
        width: 100%
    section.our-core-values .row .core-values-wrapper
        left: calc(((100vw - 776px)/ -2) - 60px)
        top: -150px
    .learn-more-about .visible .col-lg-2
        display: flex
        align-items: center
        justify-content: center
        margin-top: 50px
    section.learn-more-about .visible p
        text-align: center
    section.our-vison-mission
        display: flex
        align-items: center
        justify-content: center
        height: 800px
        .row
            display: flex
            justify-content: center
            margin-top: 0

    //// SERVICES ///////I
    .services-header .services-header-pattern-wrapper
        left: calc((150vw - 650px)/ -2)
    .services-header-content .col-lg-7 h1
        font-size: 46px
        width: 360px
    .services-header-content .s-header-img-wrapper
        left: -50px
    .services-header-content .col-md-6 p
        font-size: 12px
        line-height: 20px
        width: 95%
    section.our-workflow .row .col-lg-3 .its-efficient-wrapper img, section.our-workflow .row .col-lg-3 .our-workflow-wrapper img
        width: 100%
    section.our-workflow .row .col-lg-5 .its-efficient-text p, section.our-workflow .row .col-lg-5 .our-workflow-text p
        font-size: 13px
        line-height: 20px
    .services-header-content
        height: 100%
        display: flex
        align-items: center
        margin-top: 0
        align-self: center
    section.our-workflow
        height: 600px
        .row
            display: flex
            justify-content: center
    section.services-desc .service-desc-card
        background-position-x: -4940px
    section.we-make .row .we-make-cards .wm-card
        padding-left: 15px
    section.we-make .row .we-make-cards .wm-card p
        font-size: 12px
        line-height: 16px
    section.we-make .row .we-make-cards .wm-card .icon-wrapper
        height: 44px
    .services-header
        height: 600px
        display: flex
        flex-direction: column
    section.services-desc
        padding-top: 100px
    .header-bcg-pattern
        width: 1500px
        top: -200px
        left: calc((100vw - 259px)/ -2)
    .your-partner-pattern-wrapper
        width: 2000px
        left: calc((100vw + 259px)/ -2)
    .subscribe-btn-wrapper
        display: flex
        justify-content: flex-end
    .form-title
        margin-bottom: 10px
    nav
        position: relative
        
// 768px
+media-breakpoint-down(sm)
    .lottie
        top: 0px
        position: relative
    nav
        position: relative
    header
        height: 1200px
        max-height: 100%
    .header-bcg-pattern
        width: 2000px
        top: -200px
        left: calc((100vw + 259px)/ -2)
    .your-partner-pattern-wrapper
        width: 3000px
        left: calc((100vw + 1700px)/ -2)
        transform: rotate(5deg)
        top: 750px
        opacity: .8
    header nav
        display: flex
        ul
            display: none
    .burder-mnu
        display: flex
        flex-direction: column
        position: absolute
        z-index: 1001
        right: 60px
        top: 69px
        span
            height: 2px
            width: 50px
            margin: 3px 0
            background: $white
    .mobile-mnu
        display: flex
        height: 100vh
        position: absolute
        width: 100vw
        left: -100vw
        z-index: 1000
        background-color: $background-dark
        align-items: center
        justify-content: center
        flex-direction: column
        ul
            margin-top: 10vh
            display: flex
            flex-direction: column
            li
                list-style-type: none
                font-size: 54px
                margin: 40px 0
        .logo-mobile
            height: 42px
            width: 40vw
            position: absolute
            top: 80px
            left: 60px
            img
                height: 100%
        .social
            margin-top: 5vh
            display: flex
            width: 150px
            flex-wrap: wrap
            justify-content: space-between
            img
                height: 40px
                margin-right: 20px
                margin-bottom: 40px
    .left-side .main-text h1
        font-size: 54px
        line-height: 61px
        text-align: center
    .left-side .main-text
        display: flex
        align-items: center
        flex-direction: column
        margin-top: 0
        p
            font-size: 16px
            margin-top: 50px
            text-align: center
            width: 80%
    .left-side
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 100px
        width: 100%
    .left-side .button-and-social .social-links
        display: none
    section.your-partner .info
        display: flex
        flex-direction: column
    section.your-partner .info .img-wrapper
        max-width: 100%
    section.your-partner .info p
        margin-top: 0
        max-width: 100%
        font-size: 16px
        line-height: 25px
        margin-bottom: 40px
    section.your-partner .row:nth-child(3) .info
        height: 100%
        flex-direction: column-reverse
        p
            margin-top: 40px
    section.your-partner .row:nth-child(4) .info
        height: 100%
        p
            margin-top: 40px
            margin-left: 0
    .we-offer-services .row
        height: 100%
    .we-offer-services .col-md-3 .service-card
        height: 220px
    .we-offer-services .col-md-3
        height: auto
    .we-offer-services .row .col-md-6 h2 span, body .we-offer-services .row .col-md-6 h2
        margin-bottom: 40px
        width: 300px
    .we-offer-services .col-md-3 .service-card
        background-image: url(../img/_src/we-offer-mob.svg)
        background-size: 1500px
        background-position-x: -203px
        background-position-y: -961px
    .we-offer-services .col-md-3
        .two
            background-position-x: -488px
            background-position-y: -961px
        .three
            background-position-x: -258px
            background-position-y: -1103px
        .four
            background-position-x: -548px
            background-position-y: -1103px
        .five
            background-position-x: -488px
            background-position-y: -1303px
        .six
            background-position-x: -728px
            background-position-y: -1303px
        .seven
            background-position-x: -488px
            background-position-y: -1503px
        .eight
            background-position-x: -728px
            background-position-y: -1503px
        .nine
            background-position-x: -488px
            background-position-y: -1703px
    .we-offer-services .col-md-3 .service-card .icon-wrapper
        width: 60px
    .we-offer-services .col-md-3 .service-card .service-title
        font-size: 22px
        margin-top: 30px
    .we-offer-services .row .col-md-6 h2 span, body .we-offer-services .row .col-md-6 h2
        font-size: 38px!important
        width: 100%
        margin-left: 0
    .eight p
        width: 100px
    .we-offer-services .read-more-services a
        font-size: 22px
    .we-offer-services .col-md-3 .service-card:hover
        .service-title
            font-size: 22px
        .service-description
            font-size: 14px
    .pain-points .row
        height: 50vh
    .pain-points
        height: 600px
    .we-offer-services
        margin-bottom: 0
        padding-bottom: 0
    .pain-points h1
        font-size: 45px
    .pain-points .row .col-md-12
        margin-top: 30px
    .pain-points p
        font-size: 16px
        width: 100%
        line-height: 25px
    .outsouce-needs
        max-height: 100%
        height: 100%
    .outsouce-needs .row .col-md-6:last-child
        height: 100%
        margin-top: 100px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
    section.we-make
        margin-top: 15vh
    .outsouce-needs .row .col-md-6:last-child h1
        font-size: 39px
    .outsouce-needs .row .col-md-6:last-child p
        font-size: 16px
    .outsouce-needs .row .col-md-6:last-child h1
        text-align: center
        font-size: 54px
    .outsouce-needs .row .col-md-6:last-child p
        text-align: center
    section.we-make .row .we-make-cards .wm-card
        &:first-child
            background-position-x: -1800px
            background-position-y: -682px
        &:nth-child(2)
            background-position-x: -2022px
            background-position-y: -682px
        &:nth-child(3)
            background-position-x: -1788px
            background-position-y: -957px
        &:nth-child(4)
            background-position-x: -2027px
            background-position-y: -957px
        &:nth-child(5)
            background-position-x: -1821px
            background-position-y: -1221px
        &:nth-child(6)
            background-position-x: -2013px
            background-position-y: -1221px
        &:nth-child(7)
            background-position-x: -1781px
            background-position-y: -1491px
        &:nth-child(8)
            background-position-x: -1950px
            background-position-y: -1450px
        &:nth-child(9)
            background-position-x: -2070px
            background-position-y: -1294px
    .subscribe
        display: flex
        align-items: center
        .col-sm-12
            display: flex
            align-items: center
            justify-content: center
            button
                margin-top: 40px
    .subscribe .form-label
        left: 110px
    footer
        display: flex
        flex-direction: column
        align-items: center
        ul
            flex-wrap: wrap
            li
                width: 100px
                text-align: left
                width: 140px
                &.about-footer
                    margin-bottom: 50px
                .f-services
                    li
                        text-align: left
                p
                    text-align: left
                    
        .copyright
            width: 100%
            margin-top: 50px
    //// ABOUT ////
    section.our-core-values .row .core-values-wrapper img:nth-child(2)
        display: none
    section.our-core-values .row .core-values-wrapper img:nth-child(3)
        display: flex
        width: 700px
    section.our-vison-mission .row .col-lg-3
        display: flex
        align-items: center
        justify-content: center
    section.our-core-values .row .core-values-wrapper
        left: -10vw
        top: -250px
    section.our-core-values .row h1
        text-align: left
        font-size: 45px
    .about-header
        height: 800px
    //// SERVICES ////
    .services-header .services-header-pattern-wrapper
        left: calc((200vw - 500px)/ -2)
        width: 300vw
        top: -80px
        transform: rotate(15deg)
    .services-header-content
        margin-top: 10vh
    .services-header-content .col-lg-7 h1
        width: 100%
        font-size: 70px
    .services-header-content .col-md-6 p
        font-size: 16px
        line-height: 25px
    .services-header-content .s-header-img-wrapper
        width: 70vw
        left: -10px
        padding-top: 80px
    .services-header
        height: 1000px
        max-height: 100%
    section.our-workflow .row .col-lg-3 .its-efficient-wrapper img, section.our-workflow .row .col-lg-3 .our-workflow-wrapper img
        width: 70%
    section.our-workflow .row .col-lg-5 .its-efficient-text p, section.our-workflow .row .col-lg-5 .our-workflow-text p
        font-size: 12px
        line-height: 18px
    section.our-workflow
        height: 1000px
        .row
            display: flex
            justify-content: center
    header.contacts .row:nth-child(2) .contact-info
        display: flex
        flex-direction: column
        .post-info
            font-size: 30px
            line-height: 40px
        .phones-social
            margin-top: 20px
            .phones
                p
                    margin-top: 10px
                    font-size: 30px
            .social
                margin-top: 50px
                height: 100px
                a
                    height: 50%
                    img
                        margin-right: 50px
    .about-header .header-content p
        margin-top: 20px
    .terms-header
        height: 400px
    footer ul
        display: flex
        flex-direction: column
        a
            font-size: 34px
            text-align: left
    footer ul li
        width: 100%
        text-align: center
        margin-bottom: 40px
        display: flex
        flex-direction: column
        align-items: flex-start
    footer ul li .f-services li
        text-align: center
        font-size: 21px
        display: flex
        a
            font-size: 21px
            text-align: left
    footer ul li p
        font-size: 21px
        line-height: 29px
    .mobile-mnu ul
        align-items: center
        margin-top: 40px
        padding-left: 30px
        li
            font-size: 26px
            margin: 20px 0
    .mobile-mnu .social img
        height: 20px
    .mobile-mnu .social
        width: 200px
        margin-top: 50px
    .mobile-mnu
        display: flex
        flex-direction: column
        .logo-mobile
            position: relative
            width: 200px
            top: 35px
            left: 20px
    .we-offer-services .service-card
        padding-right: 20px
        &:hover
            padding-right: 20px
    .service-desc-card:nth-child(7)
        .visible-desc img
            width: 130%
            height: 75%!important
    section.services-desc .service-desc-card .service-desc-pattern-wrapper img
        width: 1000px
        left: -365px
    section.services-desc .service-desc-card .visible-desc
        margin-left: 30px
        width: 95%
    .subscribe-btn-wrapper
        display: flex
        justify-content: flex-end
    section.our-core-values .row .core-values-wrapper img:nth-child(2)
        display: none
    section.our-core-values .row .core-values-wrapper img:nth-child(3)
        display: flex

// 576px
+media-breakpoint-down(xs)
    section.services-desc .service-desc-card .service-desc-pattern-wrapper
        left: 0
    section.services-desc .service-desc-card .visible-desc
        margin-left: 20px
        width: 85%
    .subscribe .form-label
        left: 56px
    header
        height: 1000px
    .your-partner-pattern-wrapper
        left: calc((100vw + 1900px)/ -2)
        opacity: .6
    .we-offer-services .col-sm-6
        width: 50%
        .service-card
            width: 100%
    header.contacts h1
        font-size: 34px
    header nav .logo img
        height: 60%
    .burder-mnu
        top: 40px
        right: 27px
        span
            width: 40px
    header nav
        margin-top: 30px
    header.contacts p.contact-page-info
        font-size: 13px
        line-height: 18px
    header.contacts .row:nth-child(2) .contact-info
        flex-direction: column
    header.contacts .row:nth-child(2) .contact-info .phones-social .social
        width: 100%
        display: flex
        justify-content: space-around
    .phones-social
        margin-right: 0
    header.contacts .row:nth-child(2) .contact-form button
        width: 41%
    .mobile-mnu
        flex-direction: column
    .mobile-mnu ul
        padding: 0
        li
            font-size: 26px
            margin: 10px 0
    .mobile-mnu .social img
        height: 24px
    .mobile-mnu .social
        margin-top: 10vh
    .mobile-mnu .logo-mobile
        display: flex
        justify-content: center
        width: 60%
        left: -10px
    footer .copyright
        display: flex
        flex-direction: column
        height: 100px
        .logo
            display: none
        .info
            opacity: 0.5
        img
            height: 22px
    footer .copyright .social
        justify-content: space-between
        width: 80%
    .left-side .main-text h1
        font-size: 40px
        line-height: 50px
    a.get-obligation-btn
        width: 100%
        font-size: 14px
        margin: 0
        padding: 13px 26px
    section.your-partner h1
        text-align: center
    section.your-partner .info
        margin-top: 20px
    section.your-partner .info p
        margin-top: 60px
    section.your-partner .row:nth-child(4) .info .img-wrapper
        max-width: 100%
        margin: 0 10px
    section.your-partner .row:nth-child(4) .info p
        margin-left: 0
    .pain-points
        margin-top: 0
        height: 700px
        h1
            font-size: 34px
    a.get-obligation-btn
        font-size: 13px
    .we-offer-services .row .col-md-6 h2 span, body .we-offer-services .row .col-md-6 h2
        font-size: 34px!important
        margin: 0
        margin-top: 100px
    .we-offer-services .col-md-3 .service-card .service-title
        font-size: 18px
        width: 80px
    .we-offer-services .col-md-3 .service-card
        background-size: 1000px
        padding-left: 15px
    .we-offer-services .col-md-3
        .one
            background-position-x: -300px
            background-position-y: -300px
        .two
            background-position-x: -450px
            background-position-y: -300px
        .three
            background-position-x: -300px
            background-position-y: -540px
        .four
            background-position-x: -450px
            background-position-y: -540px
        .five
            background-position-x: -300px
            background-position-y: -780px
        .six
            background-position-x: -450px
            background-position-y: -780px
        .seven
            background-position-x: -300px
            background-position-y: -1040px
        .eight
            background-position-x: -450px
            background-position-y: -1040px
        .nine
            background-position-x: -300px
            background-position-y: -1280px
    .we-offer-services .read-more-services a
        font-size: 17px
    .we-offer-services .col-md-3 .service-card .icon-wrapper
        width: 42px
    .we-offer-services .col-md-3 .service-card:hover .service-description
        font-size: 13px
    .we-offer-services .col-md-3 .service-card:hover .service-title
        font-size: 18px
        width: 80px
    .outsouce-needs .row .col-md-6:last-child h1
        font-size: 34px
    .outsouce-needs .row .col-md-6:last-child
        display: flex
        flex-direction: column
        align-items: center
    section.we-make .row .we-make-cards .wm-card
        &:first-child
            background-position-x: -2201px
            background-position-y: -395px
        &:nth-child(2)
            background-position-x: -2201px
            background-position-y: -682px
        &:nth-child(3)
            background-position-x: -2201px
            background-position-y: -957px
        &:nth-child(4)
            background-position-x: -2201px
            background-position-y: -1247px
        &:nth-child(5)
            background-position-x: -2201px
            background-position-y: -1543px
        &:nth-child(6)
            background-position-x: -2201px
            background-position-y: -1843px
        &:nth-child(7)
            background-position-x: -2201px
            background-position-y: -2143px
        &:nth-child(8)
            background-position-x: -2201px
            background-position-y: -2424px
        &:nth-child(9)
            background-position-x: -2201px
            background-position-y: -2689px
    section.we-make .row .we-make-cards .wm-card h4
        margin-top: 5px
    section.we-make .row .we-make-cards .wm-card p
        line-height: 16px
    .subscribe .row:first-child
        width: 100%
    .subscribe
        form
            width: 100%
    .container
        width: 90%
    .about-header .about-header-pattern-wrapper
        left: -176vw
    .about-header .header-content h1
        font-size: 41px
        margin-top: 0
    .about-header .header-content p
        font-size: 15px
        line-height: 22px
    section.our-vison-mission .row .col-lg-3 .our-mission-wrapper, section.our-vison-mission .row .col-lg-3 .our-vision-wrapper
        margin: 0
    section.our-vison-mission .row .col-sm-6 .our-mission-wrapper img
        position: relative
        top: 300px
    .our-vision-text
        position: relative
        top: -109px
    .our-mission-text
        position: relative
        top: 180px
    section.our-vison-mission
        height: 1000px
        max-height: 1000px
    section.our-vison-mission .row .col-lg-5 .our-mission-text h1, section.our-vison-mission .row .col-lg-5 .our-vision-text h1
        text-align: center
        font-size: 29px
    section.our-vison-mission .row .col-lg-5 .our-mission-text p, section.our-vison-mission .row .col-lg-5 .our-vision-text p
        text-align: center
        font-size: 13px
        line-height: 20px
    section.our-core-values
        margin-top: 0
        padding-top: 100px
    section.our-core-values .row h1
        font-size: 34px
        position: relative
        z-index: 998
    section.our-core-values .row .core-values-wrapper
        z-index: 1
        top: -190px
    section.learn-more-about .visible p
        font-size: 14px
        line-height: 20px
    section.learn-more-about .invisible h1
        font-size: 25px
        position: relative
        z-index: 999
    section.learn-more-about .invisible p
        font-size: 14px
        margin-bottom: 40px
    .services-header-content .col-lg-7 h1
        font-size: 42px
    .services-header-content .s-header-img-wrapper
        width: 100%
        margin-top: 0px
        padding: 0
    section.our-workflow
        height: 1000px
        max-height: 2000px
        margin-top: 0
    section.our-workflow .row .col-lg-3 .its-efficient-wrapper, section.our-workflow .row .col-lg-3 .our-workflow-wrapper
        margin: 0
        display: flex
        justify-content: center
        height: 170px
        img
            height: 100%
    section.our-workflow .row .col-lg-3 .its-efficient-wrapper
        position: relative
        top: 300px
    .our-workflow-text
        position: relative
        top: -100px
        display: flex
        flex-direction: column
        align-items: center
    .its-efficient-text
        margin-top: 200px
        display: flex
        flex-direction: column
        align-items: center
    section.our-workflow .row .col-lg-5 .its-efficient-text p, section.our-workflow .row .col-lg-5 .our-workflow-text p
        text-align: center
    section.services-desc h1
        font-size: 25px
    section.services-desc .service-desc-card .visible-desc .open-symbol
        right: 36px
        span
            width: 22px
    section.services-desc .service-desc-card .visible-desc .title p
        font-size: 20px
        margin: 0
    section.services-desc .service-desc-card .visible-desc .icon-wrapper
        height: 39px
        width: auto
        margin-right: 20px
        margin-left: 0px
    section.services-desc .service-desc-card:nth-child(7) .icon-wrapper
        width: 40px
    section.services-desc .service-desc-card .visible-desc .title p
        width: 130px
        font-size: 20px
    section.services-desc .active .visible-desc
        padding: 0
    section.services-desc .active .invisible-desc
        padding-left: 15px
        padding-right: 15px
    section.services-desc .active .invisible-desc p
        font-size: 12px
        line-height: 20px
    section.services-desc .active .visible-desc
        margin: 0
        left: 40px
    section.services-desc .active .invisible-desc .respons span
        font-size: 15px
        margin-right: 0
        width: 80%
        padding: 10px 17px
    section.services-desc .active .invisible-desc
        padding-left: 12px
    header.contacts .row:nth-child(2) .contact-form span.form-label
        left: 23px
    header.contacts .row:nth-child(2) .contact-info p
        font-size: 15px
    header.contacts .row:nth-child(2) .contact-form button
        align-self: flex-start
    section.services-desc .service-desc-card
        background-position-x: -3739px
    .services-header .services-header-pattern-wrapper
        left: calc((250vw - 97%)/ -2)
        width: 350vw
        top: 0px
        transform: rotate(35deg)
    .we-offer-services .col-md-3
        padding: 5px
    section.we-make .row .we-make-cards .wm-card
        width: 250px
    .about-header
        height: 500px
    .about-header .header-content
        height: 32vh
    section.our-workflow .row .col-lg-5 .its-efficient-text
        margin-top: 200px
    header.contacts .row:nth-child(2) .contact-info
        .post-info
            margin-top: 50px
            font-size: 24px
            line-height: 40px
        .phones-social
            margin-top: 20px
            .phones
                p
                    margin-top: 10px
                    font-size: 24px
            .social
                margin-top: 50px
                height: 100px
                a
                    height: 50%
                    img
                        margin-right: 50px
    .terms-header
        height: 300px
    .services-header-content .col-md-6 p
        margin: 0
        margin-top: 20px
    .services-header-content .col-lg-7
        align-items: flex-start
    .service-desc-card:nth-child(7)
        .visible-desc img
            width: 110%
            height: 80%!important
    section.your-partner .info .img-wrapper
        width: 90%
    section.our-core-values .row .core-values-wrapper img:nth-child(3)
        width: 620px
    section.our-core-values .row .core-values-wrapper
        left: -100px
        top: -250px

@media only screen and (max-width : 470px)
    section.our-core-values .row .core-values-wrapper img:nth-child(3)
        width: 550px
    .we-offer-services .col-md-3 .service-card:hover .service-description
        font-size: 12px
@media only screen and (max-width : 400px)
    section.our-core-values .row .core-values-wrapper img:nth-child(3)
        width: 500px
    .we-offer-services .col-md-3 .service-card:hover .service-description
        font-size: 11px
@media only screen and (max-width : 360px)
    section.our-core-values .row .core-values-wrapper img:nth-child(3)
        width: 450px
    section.our-core-values .row .core-values-wrapper
        top: -100px
        left: -90px
    
@media only screen and (max-width : 330px)
    section.our-core-values .row .core-values-wrapper img:nth-child(3)
        width: 420px



/*==========  Mobile First  ==========*/

// ≤1200px
+media-breakpoint-up(xl)
    

// ≤992px
+media-breakpoint-up(lg)

// ≤768px
+media-breakpoint-up(md)

// ≤576px
+media-breakpoint-up(xs)

    
  