@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: $green

::selection
	color: $white
	background-color: $green
html
	overflow-x: hidden
body
	font-size: 14px
	background: $background-dark
	min-width: 320px
	position: relative
	line-height: 1.25
	font-family: $default-font
	color: $white
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

a, a:hover
	text-decoration: none
	color: $white
	cursor: pointer
a:hover
	color: $green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

span.green
	color: $green
span.orange
	color: $orange
h1, h2, h3, h4
	font-family: NevisBold
body::-webkit-scrollbar
	display: none
.burder-mnu
	display: none
.mobile-mnu
	display: none

.header-bcg-pattern
	position: absolute
	z-index: 10
	width: 130vw
	height: 200vh
	max-height: 1000px
	left: -12vw
	img
		width: 100%
		height: 100%
header
	position: relative
	z-index: 999
	nav
		margin-top: 60px
		width: 100%
		display: flex
		justify-content: space-between
		align-items: center
		font-weight: light
		.logo
			opacity: 0
			cursor: pointer
			height: 45px
			width: 40vw
			img
				height: 100%
		ul
			margin: 0
			display: flex
			justify-content: space-between
			li
				list-style-type: none
				padding-bottom: 2px
				&:hover
					cursor: pointer
				&:last-child a
					padding: 8px 35px
					border: 1px $white solid
					border-radius: 30px
					box-shadow: 0px 0px 2px $white, 0px 0px 4px $white
					transition: .2s
					width: 500px
					&:hover
						background-color: $white
						color: $background-dark
						transition: .2s
						cursor: pointer
						box-shadow: 0px 0px 2px $white, 0px 0px 8px $white
				&:last-child
					width: 140px
					border-bottom: 0px
					&:hover
						color: $background-dark
						font-weight: bold
.left-side
	width: 37vw
	.main-text
		margin-top: 80px
		line-height: 76px
		h1
			font-size: 66px
		p
			line-height: 23px
			font-size: 16px
			width: 460px
			letter-spacing: 0.2px
			margin-left: 5px
	.button-and-social
		margin-top: 80px
		display: flex
		flex-direction: column
		width: 300px
		align-items: center
		.social-links
			width: 200px
			margin-top: 54px
			display: flex
			justify-content: space-between
			margin-top: 60px
			img
				height: 16px
a.get-obligation-btn
	font-size: 16px
	padding: 13px 40px
	color: $green
	box-shadow: 0px 0px 2px $green, 0px 0px 4px $green
	border: 2px solid $green
	border-radius: 30px
	margin-left: 15px
	transition: .2s
	width: 300px
	text-align: center
	&:hover
		background-color: $green
		color: $background-dark
		box-shadow: 0px 0px 2px $green, 0px 0px 0px $green, 0px 0px 10px $green
		transition: .2s
		font-weight: bold

.right-side
	.header-illustration-wrapper
		position: relative
		left: 200px
		opacity: 0
		width: 42vw
		max-width: 600px
		margin-top: 20px
		img
			width: 100%
.your-partner-pattern-wrapper
	position: absolute
	z-index: 3
	opacity: .5
	width: 105vw
	left: 0vw
	top: 650px
	img
		width: 100%
		height: 80%
section.your-partner
	position: relative
	z-index: 997
	margin-top: 130px
	display: flex
	align-items: center
	justify-content: center
	width: 100%
	flex-direction: column
	h1
		font-size: 66px
	.info
		display: flex
		margin-top: 90px
		.img-wrapper
			max-width: 90%
			img
				width: 100%
		p
			max-width: 400px
			font-size: 15px
			line-height: 22px
			letter-spacing: 0.05em
			opacity: .9
			margin-top: 150px
			&.next
				margin-top: 75px
	.row
		&:nth-child(3) .info
			margin-top: 120px
			.img-wrapper
				max-width: 100%
		&:nth-child(4) .info
			margin-top: 120px
			.img-wrapper
				max-width: 80%
				margin-left: 50px
			p
				margin-left: 20px
.pain-points
	position: relative
	z-index: 996
	max-height: 100vh
	margin-top: 200px
	p
		font-size: 14px
		line-height: 22px
		text-align: center
		letter-spacing: 0.04em
		width: 450px
	h1
		text-align: center
		font-size: 62px
	.row
		height: 70vh
		.col-md-12
			display: flex
			align-items: center
			justify-content: center
			a
				color: $orange
				box-shadow: 0px 0px 2px $orange, 0px 0px 4px $orange
				border-color: $orange
				&:hover
					background-color: $orange
					color: $background-dark
					box-shadow: 0px 0px 2px $orange, 0px 0px 0px $orange, 0px 0px 10px $orange
.we-offer-services
	margin-top: 140px
	padding-bottom: 80px
	position: relative
	z-index: 999
	.col-md-3
		padding: 20px 20px
		height: 200px
		.one
			background-image: url(../img/_src/we-offer/1.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.two
			background-image: url(../img/_src/we-offer/2.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.three
			background-image: url(../img/_src/we-offer/3.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.four
			background-image: url(../img/_src/we-offer/4.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.five
			background-image: url(../img/_src/we-offer/5.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.six
			background-image: url(../img/_src/we-offer/6.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.seven
			background-image: url(../img/_src/we-offer/7.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.eight
			background-image: url(../img/_src/we-offer/8.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.nine
			background-image: url(../img/_src/we-offer/9.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: left
		.service-card
			height: 100%
			transition: .25s
			border: transparent 1px solid
			border-radius: 30px
			cursor: pointer
			display: flex
			flex-direction: column
			justify-content: space-between
			padding: 20px 15px 20px 20px
			.icon-wrapper
				width: 48px
				padding-top: 20px
				transition: .5s
				img
					width: 100%
			.service-title
				font-size: 21px
				margin-top: 21px
			&:hover
				transition: .25s
				border: $orange 1px solid
				border-radius: 30px
				box-shadow: 0px 0px 2px $orange, 0px 0px 0px $orange, 0px 0px 10px $orange
				a
					display: flex
					color: $white
					text-align: right
					align-self: flex-end
					&:hover
						color: $orange
						font-weight: bold
				.service-title
					margin-top: 0
					font-size: 16px
					margin-bottom: 7px
				.service-description
					margin-bottom: 5px
			.service-description
				display: none
				transition: .5s
				font-size: 12px
				width: 100%
				opacity: .8
				letter-spacing: 0.03em
			a
				display: none
	.row
		.col-md-6
			h2
				font-size: 54px
				margin-left: 40px
				margin-top: 40px
				transition: .2s
				span
					transition: .3s
	.read-more-services
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		a
			font-size: 21px
			font-family: NevisBold
			letter-spacing: .05em
			color: $white
			&:hover span
				border-bottom: $orange 2px solid

.outsouce-needs
	height: 100vh
	position: relative
	.needs-img-wrapper
		height: 120vh
		width: 110vw
		left: -20vw
		position: absolute
		z-index: 5
		opacity: .5
		top: -70px
		img
			width: 100%
			height: 100%
	.row
		position: relative
		z-index: 995
		margin-top: 60px
		.col-md-6:first-child
			img
				width: 90%
				height: 100%
		.col-md-6:last-child
			margin-left: 0px
			h1
				margin-top: 20px
				font-size: 66px
			p
				margin-top: 66px
				width: 464px
				line-height: 20px
				font-size: 14px
				letter-spacing: 0.02em
				margin-bottom: 66px
				margin-left: 3px
			a
				color: $orange
				box-shadow: 0px 0px 2px $orange, 0px 0px 4px $orange
				border-color: $orange
				margin-left: 7px
				&:hover
					background-color: $orange
					color: $background-dark
					box-shadow: 0px 0px 2px $orange, 0px 0px 0px $orange, 0px 0px 10px $orange
.we-make-pattern-wrapper
	position: relative
	z-index: 8
	left: -800px
	top: -952px
	img
		opacity: .2
section.we-make
	max-height: 500px
	.col-lg-4
		h1
			font-size: 54px
			width: 385px
		.arrows
			height: 29px
			display: flex
			align-items: center
			margin-top: 100px
			position: relative
			z-index: 990
			cursor: pointer
			span
				height: 28px
				display: flex
				&:first-child
					align-items: flex-end
					height: 34px
					opacity: 0
				&:last-child
					margin-left: 31px
					align-items: flex-start
					transform: rotate(180deg)
					transform: scale(-1, 1)

	.row
		position: relative
		z-index: 994
		.we-make-cards
			margin-left: 136px
			display: flex
			position: absolute
			left: 0px
			z-index: 9
			.wm-card
				position: relative
				width: 250px
				height: 358px
				background-image: url('../img/_src/wm-pattern.svg')
				background-size: 3300px
				border-radius: 30px
				padding-top: 30px
				padding-left: 26px
				padding-right: 10px
				margin-right: 52px
				border: 0px $green solid
				box-shadow: 0px 0px 0px $green, 0px 0px 0px $green, 0px 0px 0px $green
				h4
					font-family: MyriadPro
					font-weight: 700
					font-size: 28px
					margin-top: 28px
				p
					font-size: 13px
					line-height: 19px
				.icon-wrapper
					width: 84px
					height: 66px
					img
						width: 100%
						height: 100%
				&:first-child
					background-position-x: -1326px
					background-position-y: -705px
					border: 2px $green solid
					box-shadow: 0px 0px 2px $green, 0px 0px 0px $green, 0px 0px 10px $green
				&:nth-child(2)
					background-position-x: -1641px
					background-position-y: -702px
				&:nth-child(3)
					background-position-x: -1941px
					background-position-y: -704px
				&:nth-child(4)
					background-position-x: -1641px
					background-position-y: -702px
				&:nth-child(5)
					background-position-x: -1641px
					background-position-y: -702px
				&:nth-child(6)
					background-position-x: -1641px
					background-position-y: -702px
				&:nth-child(7)
					background-position-x: -1641px
					background-position-y: -702px
				&:nth-child(8)
					background-position-x: -1641px
					background-position-y: -702px
				&:nth-child(9)
					background-position-x: -1641px
					background-position-y: -702px

.subscribe
	position: relative
	z-index: 990
	display: flex
	align-items: center
	justify-content: center
	max-height: 400px
	height: 100vh
	margin-bottom: 100px
	h2
		font-size: 34px
		margin-bottom: 64px
		text-align: center
	form
		display: flex
		justify-content: flex-end
		input
			background-color: transparent
			border: $white 1px solid
			border-radius: 30px
			height: 45px
			width: 395px
			color: $white
			padding-left: 40px
			font-size: 16px
			transition: .2s
			&:focus
				border: $green 1px solid
				box-shadow: 0px 0px 5px $green
			&:hover
				box-shadow: 0px 0px 2px $green, 0px 0px 10px $green
				border-color: $green
		&:hover span
			color: $green
	button
		background: $green
		color: $background-dark
		border: none
		height: 45px
		width: 180px
		border-radius: 30px
		font-weight: bold
		font-size: 16px
		transition: .2s
		&:hover
			box-shadow: 0px 0px 2px $green, 0px 0px 10px $green
			transition: .2s
		&:active
			background: $background-dark
			color: $green
	.form-label
		position: absolute
		top: -10px
		left: 50px
		background: $background-dark
		width: 50px
		display: flex
		justify-content: center

footer
	position: relative
	z-index: 100
	ul
		display: flex
		justify-content: space-between
		padding: 0
		margin-bottom: 20px
		li
			list-style-type: none
			font-size: 18px
			ul
				display: flex
				flex-direction: column
				margin-top: 20px
				li
					font-size: 14px
					opacity: .7
					margin-bottom: 5px
			p
				display: flex
				margin-top: 20px
				font-size: 14px
				opacity: .7
				line-height: 22px
	.copyright
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 60px
		.logo
			height: 32px
			img
				height: 100%
		.social
			display: flex
			width: 100px
			justify-content: space-between

/////////////ABOUT////////////////////
.about-header
	position: relative
	height: 100vh
	nav
		position: relative
		z-index: 999
	.about-header-pattern-wrapper
		position: absolute
		z-index: 1
		left: -40vw
		top: -500px
		opacity: .5
	.header-content
		position: relative
		z-index: 999
		margin-top: 60px
		height: 70vh
		max-height: 800px
		h1
			font-size: 80px
		p
			position: relative
			margin-top: 50vh
			font-size: 17px
			line-height: 27px
			letter-spacing: 0.03em
			b
				letter-spacing: 0.05em
section.our-vison-mission
	height: 100vh
	max-height: 800px
	position: relative
	z-index: 999
	.row
		margin-top: 20%
		height: 70%
		.col-lg-3
			display: flex
			flex-direction: column
			justify-content: space-around
			.our-vision-wrapper, .our-mission-wrapper
				display: flex
				justify-content: flex-end
				align-items: center
				height: 80%
				margin-right: 40px
				img
					width: 60%
		.col-lg-5
			display: flex
			flex-direction: column
			justify-content: space-around
			.our-vision-text, .our-mission-text
				h1
					margin-bottom: 21px
					font-size: 34px
					font-family: NevisBold
					margin-top: 20px
				p
					font-size: 14px
					line-height: 23px
					letter-spacing: 0.04em

section.our-core-values
	position: relative
	z-index: 999
	display: flex
	align-items: center
	justify-content: center
	margin-top: 100px
	.row
		width: 100%
		h1
			font-size: 66px
			text-align: right
		.core-values-wrapper
			position: relative
			width: 100vw
			left: calc( ((100vw - 1200px) / -2) - 60px )
			top: -200px
			img
				height: 100%
				width: 105vw
.learn-more-btn
	position: relative
	z-index: 999
	background: $background-dark
	color: $green
	border: solid $green 2px
	height: 48px
	width: 184px
	border-radius: 30px
	font-weight: bold
	font-size: 16px
	transition: .2s
	text-align: center
	&:hover
		box-shadow: 0px 0px 2px $green, 0px 0px 10px $green
		transition: .2s
	&:active
		background: $background-dark
		color: $green
.hide
	color: $background-dark
	font-weight: 800
	border-color: $white
	font-size: 21px
	letter-spacing: 0.05em
	width: 30vw
	margin-top: 70px
	color: $white
	cursor: pointer
	&:hover
		box-shadow: 0px 0px 0px $green, 0px 0px 0px $green
		transition: .2s
		background-color: $white
		color: $background-dark
section.learn-more-about
	.visible
		display: flex
		margin-bottom: 150px
		p
			font-size: 18px
			line-height: 25px
	.invisible
		display: none
		transition: .5s
		opacity: 0
		h1
			font-size: 49px
			margin-bottom: 100px
			position: relative
			z-index: 999
		p
			margin-bottom: 70px
			font-size: 18px
			line-height: 25px
			letter-spacing: 0.05em
		.pattern
			position: absolute
			z-index: 3
			left: 0
			img
				width: 100vw
////// SERVICES /////////I

.services-header
	position: relative
	height: 100vh
	nav
		position: relative
		z-index: 999
	.services-header-pattern-wrapper
		position: absolute
		z-index: 1
		left: calc((100vw - 1110px) / -2)
		opacity: .5
		width: 100vw
		img
			width: 100%
.services-header-content
	position: relative
	z-index: 999
	margin-top: 60px
	height: 70vh
	max-height: 800px
	.col-lg-7
		display: flex
		flex-direction: column
		h1
			font-size: 66px
		p
			position: relative
			font-size: 17px
			line-height: 27px
			letter-spacing: 0.03em
			margin-top: 100px
			width: 65%
			margin-right: 20px
			b
				letter-spacing: 0.05em
	.s-header-img-wrapper
		position: relative
		left: -200px
		top: -3vh
		width: 45vw
		img
			width: 100%

section.our-workflow
	height: 100vh
	max-height: 800px
	position: relative
	z-index: 999
	.row
		margin-top: 20%
		height: 70%
		.col-lg-3
			display: flex
			flex-direction: column
			justify-content: space-around
			.our-workflow-wrapper, .its-efficient-wrapper
				display: flex
				justify-content: flex-end
				align-items: center
				height: 80%
				margin-right: 40px
				img
					width: 60%
		.col-lg-5
			display: flex
			flex-direction: column
			justify-content: space-around
			.our-workflow-text, .its-efficient-text
				h1
					margin-bottom: 21px
					font-size: 34px
					font-family: NevisBold
					margin-top: 20px
				p
					font-size: 14px
					line-height: 23px
					letter-spacing: 0.04em

section.services-desc
	h1
		font-size: 54px
		font-family: NevisBold
		margin-bottom: 100px

	.service-desc-card
		background-image: url(../img/_src/services-page/services-desc-pattern.svg)
		background-size: 3500px
		background-position-x: -4250px
		background-position-y: -905px
		width: 100%
		display: flex
		border-radius: 30px
		margin-bottom: 30px
		flex-direction: column
		transition: .5s
		.visible-desc
			display: flex
			flex-direction: row
			align-items: center
			.icon-wrapper
				height: 60px
				width: 60px
				margin: 20px
				img
					height: 100%
			.title
				p
					font-size: 34px
					margin: 0 0 0 30px
			.open-symbol
				display: flex
				flex-direction: column
				justify-content: center
				height: 60px
				position: absolute
				right: 50px
				cursor: pointer
				span
					height: 3px
					background: $orange
					width: 40px
					&:last-child
						margin-top: -3px
						transform: rotate(90deg)
		&:nth-child(1)
			background-position-y: -905px
		&:nth-child(2)
			background-position-y: -1025px
		&:nth-child(3)
			background-position-y: -1145px
			.icon-wrapper
				height: 50px
				width: 40px
				margin: 30px
		&:nth-child(4)
			background-position-y: -1265px
			.icon-wrapper
				height: 50px
				width: 40px
				margin: 30px
		&:nth-child(5)
			background-position-y: -1385px
			.icon-wrapper
				height: 50px
				width: 40px
				margin: 30px
		&:nth-child(6)
			background-position-y: -1505px
			.icon-wrapper
				height: 50px
				width: 40px
				margin: 30px
		&:nth-child(7)
			background-position-y: -1625px
			.icon-wrapper
				height: 50px
				width: 40px
				margin: 30px
		&:nth-child(8)
			background-position-y: -1745px
			.icon-wrapper
				height: 50px
				width: 40px
				margin: 30px
		&:nth-child(9)
			background-position-y: -1865px
			.icon-wrapper
				height: 50px
				width: 40px
				margin: 30px
	.active
		transition: .5s
		display: flex /////
		color: $orange
		flex-wrap: wrap
		border: $orange 2px solid
		box-shadow: 0px 0px 2px $orange, 0px 0px 10px $orange
		.visible-desc
			margin-top: 40px	
			padding: 10px 100px 20px 90px
			transition: .5s
			.open-symbol
				right: 80px
				span
					background: $white
					&:last-child
						opacity: 0
			.title
				p
					font-weight: 700
		.invisible-desc
			display: none
			transition: .5s
			padding: 10px 100px 60px 100px
			display: flex
			flex-direction: column
			align-items: center
			p
				font-size: 18px
				line-height: 29px
				letter-spacing: 0.04em
				color: $white
				margin-bottom: 54px
				&:first-child
					margin-top: 30px
			h4
				font-size: 34px
				color: $white
			.respons
				display: flex
				flex-wrap: wrap
				align-items: center
				justify-content: center
				margin-top: 50px
				margin-bottom: 50px
				width: 110%
				span
					border: $orange 2px solid
					box-shadow: 0px 0px 2px $orange, 0px 0px 6px $orange
					border-radius: 30px
					padding: 10px 36px
					font-size: 18px
					margin: 20px 20px 10px 0
					font-weight: 700
			.service-hide-btn
				border: none
				color: $white
				padding: 5px
				height: 35px
				border-bottom: 2px solid $white
				border-radius: 0px
				width: 50px
				cursor: pointer
				&:hover
					box-shadow: 0px 0px 0px
					border: none
					padding-bottom: 2px
					color: $orange
//// contacts////
header.contacts
	h1
		font-size: 64px
		margin-top: 50px
	p.contact-page-info
		margin-top: 40px
		margin-bottom: 60px
		width: 95%
		line-height: 23px
		letter-spacing: 0.04em
		font-size: 15px
	.row:nth-child(2)
		margin-bottom: 100px
		.contact-form
			display: flex
			flex-direction: column
			form
				display: flex
				flex-direction: column		
				input, textarea
					background: transparent
					border-radius: 30px
					height: 40px
					width: 90%
					margin-top: 20px
					border: 1px solid $orange
					padding: 0 20px
					color: $white
					&:first-child
						margin-top: 0
					&:focus
						box-shadow: 0px 0px 2px $orange, 0px 0px 6px $orange
				textarea
					padding-top: 10px
					padding-bottom: 20px
					overflow: hidden
			span.form-label
					position: relative
					top: -50px
					left: 40px
					background: $background-dark
					width: 185px
					text-align: center
					letter-spacing: 0.04em
					color: $white
					&:nth-child(2)
						width: 100px
					&:nth-child(6)
						width: 100px
						position: absolute
						top: 145px
						left: 60px
			button
				border-radius: 30px
				border: none
				width: 20%
				height: 40px
				align-self: flex-end
				margin-right: 10%
				font-weight: 700
				margin-top: 40px
				transition: .1s
				cursor: pointer
				background: transparent
				color: $orange
				border: $orange 1px solid
				&:hover
					box-shadow: 0px 0px 2px $orange, 0px 0px 6px $orange
					border: $orange 1px solid
					transition: .1s
					background: $orange
					color: $background-dark
		.contact-info
			display: flex
			flex-direction: column
			p
				font-size: 21px
				font-weight: normal
				line-height: 30px
			.phones-social
				p
					margin: 0
					&:first-child
						margin-top: 10px
				.social
					margin-top: 20px
					height: 60px
					display: flex
					align-items: center
					a
						img
							height: 80%
							color: $orange
							margin-right: 20px
.map
	width: 100%
	height: 100%
	background-image: url(../img/_src/contact-map.png)
	background-size: 100%
	position: absolute
	z-index: 1
	background-repeat: no-repeat
	background-position-y: 80px 
	opacity: .5

.terms-header
	height: 80vh
	h1
		text-align: center
		margin-top: 10vh
section.terms
	margin-bottom: 20vh
	p
		font-size: 16px
		line-height: 25px
		margin-top: 10px
		opacity: .8
	h4
		font-size: 21px
		margin-top: 50px

.lottie
	display: flex
	align-items: center
	justify-content: center
	height: 45px
	width: 152px
	cursor: pointer
footer ul li:hover p
	color: $white
.we-offer-services .col-md-3 .service-card:hover a
	margin-right: 10px
@import "media"
// Always at the end
